{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}
{% block myTitle %}Page not found{% endblock %}
{% block body %}

    <div class="mx-2 my-2">
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('food_list') }}">return to the homepage</a>.
    </div>
{% endblock %}